name: pyremo-tests
channels:
  - conda-forge
  - nodefaults
dependencies:
  - cartopy
  - matplotlib-base
  - numpy
  - pooch
  - regionmask 
  - setuptools
  - xarray
  - netCDF4
# for testing
  - pytest
  - pytest-cov
  - pytest-env
  - cmor
  - fsspec
  - requests
  - pip:
    - git+https://github.com/euro-cordex/py-cordex.git # always use master for now
