# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI with extensions
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        # Bookend python versions
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.
      - name: Set environment variables
        run: |
          echo "CONDA_ENV_FILE=ci/requirements/environment.yml" >> $GITHUB_ENV
          echo "PYTHON_VERSION=${{ matrix.python-version }}" >> $GITHUB_ENV
      - name: Create conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          cache-downloads: true
          cache-downloads-key: "${{runner.os}}-${{runner.arch}}-py${{matrix.python-version}}"
          environment-file: ci/requirements/environment.yml
          create-args: >-
            python=${{ matrix.python-version }}
      - name: Install pyremo
        run: |
          python -m pip install --no-deps -e .
      - name: Install private dependencies
        run: |
          python -m pip install git+https://bot:${{secrets.DKRZ_PYINTORG_TOKEN}}@gitlab.dkrz.de/remo/pyintorg.git # use master now @v0.2.0a1
          python -m pip install git+https://bot:${{secrets.DKRZ_PYDRUINT_TOKEN}}@gitlab.dkrz.de/remo/pydruint.git@v0.1.0
      - name: Version info
        run: |
          conda info -a
          conda list
      - name: Import pyremo
        run: |
          python -c "import pyremo"
      - name: Run tests
        timeout-minutes: 5
        run: python -u -m pytest
          --cov=pyremo
          --cov-report=xml
          --junitxml=test-results/${{ runner.os }}-${{ matrix.python-version }}.xml

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: RUNNER_OS,PYTHON_VERSION
          name: codecov-umbrella
          fail_ci_if_error: false
